---
import Layout from '../layouts/Layout.astro'
import Case from '../components/Case.astro'
import CustomDevelopmentHero from '../components/CustomDevelopmentHero.astro'
import CustomDevelopmentServices from '../components/CustomDevelopmentServices.astro'
---

<Layout
  title='Collabwrite - Custom software development services'
  description="Transform your ideas into powerful software solutions with Collabwrite's custom software development services. Our skilled developers create tailored applications that streamline your operations, enhance user experience, and drive business growth."
>
  <main class='space-y-20'>
    <CustomDevelopmentHero />
    <CustomDevelopmentServices />
    <Case />
    <!-- <Team />
    <Testimonial />
    <Contact /> -->
  </main>
</Layout>
