---
import Layout from '../layouts/Layout.astro'
import Case from '../components/Case.astro'
import CybersecurityHero from '../components/CybersecurityHero.astro'
import CybersecurityServices from '../components/CybersecurityServices.astro'
---

<Layout
  title='Collabwrite - Cybersecurity Services'
  description="Protect your digital assets with Collabwrite's robust Cybersecurity Services. Our expert team offers comprehensive security solutions, from threat detection to incident response, ensuring your business stays safe in an ever-evolving digital landscape."
>
  <main class='space-y-20'>
    <CybersecurityHero />
    <CybersecurityServices />
    <Case />
    <!-- <Team />
    <Testimonial />
    <Contact /> -->
  </main>
</Layout>
