---
import Layout from '../layouts/Layout.astro'
import Case from '../components/Case.astro'
import CybersecurityHero from '../components/CybersecurityHero.astro'
import CybersecurityServices from '../components/CybersecurityServices.astro'
---

<Layout title='Collabwrite - Cybersecurity Services'>
  <main class='space-y-20'>
    <CybersecurityHero />
    <CybersecurityServices />
    <Case />
    <!-- <Team />
    <Testimonial />
    <Contact /> -->
  </main>
</Layout>
