---
import Layout from '../layouts/Layout.astro'
import Case from '../components/Case.astro'
import DigitalMarketingHero from '../components/DigitalMarketingHero.astro'
import DigitalMarketingService from '../components/DigitalMarketingServices.astro'
---

<Layout
  title='Collabwrite - Digital Marketing Services'
  description="Amplify your online presence with Collabwrite's comprehensive Digital Marketing Services. From SEO to social media management, we deliver data-driven strategies to increase your brand visibility, engage customers, and drive conversions."
>
  <main class='space-y-20'>
    <DigitalMarketingHero />
    <DigitalMarketingService />
    <Case />
    <!-- <Team />
    <Testimonial />
    <Contact /> -->
  </main>
</Layout>
