---
import Layout from '../layouts/Layout.astro'
import Case from '../components/Case.astro'
import DigitalMarketingHero from '../components/DigitalMarketingHero.astro'
import DigitalMarketingService from '../components/DigitalMarketingServices.astro'
---

<Layout title='Collabwrite - Digital Marketing Services'>
  <main class='space-y-20'>
    <DigitalMarketingHero />
    <DigitalMarketingService />
    <Case />
    <!-- <Team />
    <Testimonial />
    <Contact /> -->
  </main>
</Layout>
