---
import Layout from '../layouts/Layout.astro'
import Hero from '../components/Hero.astro'
import Services from '../components/Services.astro'
import Case from '../components/Case.astro'
---

<Layout
  title='Collabwrite - Growth Consulting Partner Agency'
  description='Experience excellence with Collabwrite, the best AI & Technology Consulting Agency. Our innovative strategies and proven expertise help businesses leverage cutting-edge technologies for sustainable growth and competitive advantage.'
>
  <main class='space-y-20'>
    <Hero />
    <Services />
    <Case />
    <!-- <Team />
    <Testimonial />
    <Contact /> -->
  </main>
</Layout>
