---
import Layout from '../layouts/Layout.astro'
import Case from '../components/Case.astro'
import HybridTeamHero from '../components/HybridTeamHero.astro'
import HybridTeamServices from '../components/HybridTeamServices.astro'
---

<Layout
  title='Collabwrite - On demand workforce for your team'
  description="Boost your team's capabilities with Collabwrite's on-demand workforce solutions. Access skilled professionals across various domains to scale your projects efficiently. Flexible, reliable, and cost-effective talent at your fingertips."
>
  <main class='space-y-20'>
    <HybridTeamHero />
    <HybridTeamServices />
    <Case />
    <!-- <Team />
    <Testimonial />
    <Contact /> -->
  </main>
</Layout>
