---
import Layout from '../layouts/Layout.astro'
import Hero from '../components/Hero.astro'
import Services from '../components/Services.astro'
import Case from '../components/Case.astro'
---

<Layout title='Collabwrite - AI & Technology Consulting Agency'>
  <main class='space-y-20'>
    <Hero />
    <Services />
    <Case />
    <!-- <Team />
    <Testimonial />
    <Contact /> -->
  </main>
</Layout>
