---
import Layout from '../layouts/Layout.astro'
import Hero from '../components/Hero.astro'
import Services from '../components/Services.astro'
import Case from '../components/Case.astro'
---

<Layout
  title='Collabwrite - AI & Technology Consulting Agency'
  description='Collabwrite: Your trusted AI & Technology Consulting Agency. We provide cutting-edge solutions to help businesses navigate the digital landscape, optimize operations, and stay ahead of the competition. Discover how we can accelerate your digital transformation.'
>
  <main class='space-y-20'>
    <Hero />
    <Services />
    <Case />
    <!-- <Team />
    <Testimonial />
    <Contact /> -->
  </main>
</Layout>
