---
import Layout from '../layouts/Layout.astro'
import Case from '../components/Case.astro'
import AIServices from '../components/AIServices.astro'
import AIHero from '../components/AIHero.astro'
---

<Layout
  title='Collabwrite - Machine Learning & AI Consulting services'
  description="Elevate your business with Collabwrite's expert Machine Learning & AI consulting services. Our tailored solutions help you harness the power of AI to drive innovation, efficiency, and growth. Partner with us to transform your data into actionable insights."
>
  <main class='space-y-20'>
    <AIHero />
    <AIServices />
    <Case />
    <!-- <Team />
    <Testimonial />
    <Contact /> -->
  </main>
</Layout>
