---
import Container from '../components/Container.astro'
import Layout from '../layouts/Layout.astro'
import Topic from '../components/Topic.astro'

const currentYear = new Date().getFullYear()
---

<Layout
  title='Collabwrite - Resources'
  description=`Empower your business with cutting-edge insights and tools from our
            expert team. Access our comprehensive collection of articles,
            whitepapers, and case studies covering the latest trends and
            applications in AI and technology.`
>
  <main class='space-y-20'>
    <Container>
      <div class='py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6'>
        <div class='mx-auto lg:mb-16 mb-8'>
          <h1
            class='mb-4 text-3xl lg:text-4xl tracking-tight font-extrabold text-gray-900'
          >
            Privacy Policy for CollabWrite.com
          </h1>

          <p><em>Last Updated: {currentYear}-09-11</em></p>

          <p>
            Welcome to CollabWrite.com. We are committed to protecting your
            privacy and ensuring the security of your personal information. This
            Privacy Policy explains how we collect, use, disclose, and safeguard
            your data when you use our website and services.
          </p>

          <h2
            class='mt-4 text-xl lg:text-2xl tracking-tight font-extrabold text-gray-900'
          >
            1. Introduction
          </h2>

          <p>
            CollabWrite.com ("we," "us," or "our") respects the privacy of our
            users ("user" or "you"). This Privacy Policy applies to all
            information collected through our website
            (https://www.collabwrite.com), mobile application, and any related
            services, sales, marketing, or events (collectively, the
            "Services").
          </p>

          <p>
            Please read this Privacy Policy carefully. If you do not agree with
            the terms of this Privacy Policy, please do not access the Services.
            By accessing or using our Services, you agree to this Privacy
            Policy.
          </p>

          <h2
            class='mt-4 text-xl lg:text-2xl tracking-tight font-extrabold text-gray-900'
          >
            2. Information We Collect
          </h2>

          <p>
            We collect several types of information from and about users of our
            Services, including:
          </p>

          <h3 class='mt-4 tracking-tight font-medium text-gray-900'>2.1 Personal Information</h3>

          <p>
            Personal Information is information that identifies you as an
            individual. We may collect the following types of Personal
            Information:
          </p>

          <ul>
            <li>Name</li>
            <li>Email address</li>
            <li>Phone number</li>
            <li>Mailing address</li>
            <li>Username and password</li>
            <li>
              Billing information, such as credit card number and billing
              address
            </li>
            <li>Professional or employment-related information</li>
            <li>Profile picture</li>
            <li>Social media account information</li>
          </ul>

          <h3 class='mt-4 tracking-tight font-medium text-gray-900'>2.2 Non-Personal Information</h3>

          <p>
            We may also collect non-personal information that does not directly
            identify you. This may include:
          </p>

          <ul>
            <li>Browser type and version</li>
            <li>Operating system</li>
            <li>IP address</li>
            <li>
              Device information (e.g., device model, mobile network
              information)
            </li>
            <li>
              Usage data (e.g., pages visited, time spent on pages,
              click-through rates)
            </li>
            <li>Location data</li>
          </ul>

          <h2
            class='mt-4 text-xl lg:text-2xl tracking-tight font-extrabold text-gray-900'
          >
            3. How We Collect Information
          </h2>

          <p>We collect information from you in various ways, including:</p>

          <h3 class='mt-4 tracking-tight font-medium text-gray-900'>3.1 Direct Collection</h3>

          <p>We collect information directly from you when you:</p>

          <ul>
            <li>Register for an account</li>
            <li>Fill out forms on our website</li>
            <li>Subscribe to our newsletter</li>
            <li>Participate in surveys or contests</li>
            <li>Contact our customer support</li>
            <li>Use our Services</li>
          </ul>

          <h3 class='mt-4 tracking-tight font-medium text-gray-900'>3.2 Automated Collection</h3>

          <p>
            We automatically collect certain information when you visit, use, or
            navigate our Services. This information does not reveal your
            specific identity but may include device and usage information. We
            use the following technologies for automated data collection:
          </p>

          <ul>
            <li>
              Cookies: We use cookies to store certain information about your
              preferences and site interactions.
            </li>
            <li>
              Log Files: We gather certain information automatically and store
              it in log files.
            </li>
            <li>
              Web Beacons: We may use web beacons (also known as clear gifs,
              pixel tags, and single-pixel gifs) to track user activities.
            </li>
          </ul>

          <h3 class='mt-4 tracking-tight font-medium text-gray-900'>3.3 Third-Party Sources</h3>

          <p>
            We may receive information about you from third-party sources, such
            as:
          </p>

          <ul>
            <li>Public databases</li>
            <li>Marketing partners</li>
            <li>Social media platforms</li>
            <li>Analytics providers</li>
          </ul>

          <h2
            class='mt-4 text-xl lg:text-2xl tracking-tight font-extrabold text-gray-900'
          >
            4. How We Use Your Information
          </h2>

          <p>
            We use the information we collect for various purposes, including:
          </p>

          <h3 class='mt-4 tracking-tight font-medium text-gray-900'>4.1 Provide and Maintain our Services</h3>

          <ul>
            <li>To operate and maintain our Services</li>
            <li>To create and manage your account</li>
            <li>To process transactions and send related information</li>
            <li>To provide customer support and respond to inquiries</li>
          </ul>

          <h3 class='mt-4 tracking-tight font-medium text-gray-900'>4.2 Improve and Develop our Services</h3>

          <ul>
            <li>To understand how users interact with our Services</li>
            <li>
              To identify usage trends and analyze the effectiveness of our
              Services
            </li>
            <li>
              To develop new products, services, features, and functionality
            </li>
            <li>To conduct research and analysis to improve our Services</li>
          </ul>

          <h3 class='mt-4 tracking-tight font-medium text-gray-900'>4.3 Communicate with You</h3>

          <ul>
            <li>
              To send administrative messages, updates, and security alerts
            </li>
            <li>
              To provide information about our Services, changes to our
              policies, and other important notices
            </li>
            <li>To respond to your comments, questions, and requests</li>
            <li>
              To send marketing and promotional communications (with your
              consent, where required by law)
            </li>
          </ul>

          <h3 class='mt-4 tracking-tight font-medium text-gray-900'>4.4 Personalize Your Experience</h3>

          <ul>
            <li>
              To deliver content and product offerings relevant to your
              interests
            </li>
            <li>
              To personalize your experience and to allow us to deliver the type
              of content and product offerings in which you are most interested
            </li>
          </ul>

          <h3 class='mt-4 tracking-tight font-medium text-gray-900'>4.5 Ensure Security and Prevent Fraud</h3>

          <ul>
            <li>To detect, prevent, and address technical issues</li>
            <li>
              To protect against unauthorized access to your account and
              personal information
            </li>
            <li>To enforce our terms of service and prevent fraud</li>
          </ul>

          <h3 class='mt-4 tracking-tight font-medium text-gray-900'>4.6 Legal Compliance</h3>

          <ul>
            <li>
              To comply with applicable laws, regulations, and legal processes
            </li>
            <li>
              To respond to lawful requests from public and government
              authorities
            </li>
          </ul>

          <h2
            class='mt-4 text-xl lg:text-2xl tracking-tight font-extrabold text-gray-900'
          >
            5. How We Share Your Information
          </h2>

          <p>We may share your information in the following situations:</p>

          <h3 class='mt-4 tracking-tight font-medium text-gray-900'>5.1 With Your Consent</h3>

          <p>
            We may share your information with third parties when you have given
            us your consent to do so.
          </p>

          <h3 class='mt-4 tracking-tight font-medium text-gray-900'>5.2 Service Providers</h3>

          <p>
            We may share your information with third-party vendors, service
            providers, contractors, or agents who perform services for us or on
            our behalf. These entities are prohibited from using your personal
            information for any purpose other than to provide these services to
            us.
          </p>

          <h3 class='mt-4 tracking-tight font-medium text-gray-900'>5.3 Business Transfers</h3>

          <p>
            If we are involved in a merger, acquisition, or sale of all or a
            portion of our assets, your information may be transferred as part
            of that transaction.
          </p>

          <h3 class='mt-4 tracking-tight font-medium text-gray-900'>5.4 Legal Requirements</h3>

          <p>
            We may disclose your information where we are legally required to do
            so in order to comply with applicable law, governmental requests, a
            judicial proceeding, court order, or legal process.
          </p>

          <h3 class='mt-4 tracking-tight font-medium text-gray-900'>5.5 Vital Interests and Legal Rights</h3>

          <p>
            We may disclose your information where we believe it is necessary to
            investigate, prevent, or take action regarding potential violations
            of our policies, suspected fraud, situations involving potential
            threats to the safety of any person, or as evidence in litigation in
            which we are involved.
          </p>

          <h2
            class='mt-4 text-xl lg:text-2xl tracking-tight font-extrabold text-gray-900'
          >
            6. Your Privacy Rights
          </h2>

          <p>
            Depending on your location, you may have certain rights regarding
            your personal information:
          </p>

          <h3 class='mt-4 tracking-tight font-medium text-gray-900'>6.1 Access and Portability</h3>

          <p>
            You have the right to request access to the personal information we
            hold about you and to receive your data in a portable format.
          </p>

          <h3 class='mt-4 tracking-tight font-medium text-gray-900'>6.2 Correction and Deletion</h3>

          <p>
            You have the right to request that we correct or delete any personal
            information we hold about you.
          </p>

          <h3 class='mt-4 tracking-tight font-medium text-gray-900'>6.3 Restriction and Objection</h3>

          <p>
            You have the right to restrict or object to our processing of your
            personal information.
          </p>

          <h3 class='mt-4 tracking-tight font-medium text-gray-900'>6.4 Withdraw Consent</h3>

          <p>
            If we are relying on your consent to process your personal
            information, you have the right to withdraw your consent at any
            time.
          </p>

          <h3 class='mt-4 tracking-tight font-medium text-gray-900'>6.5 Complaint</h3>

          <p>
            You have the right to make a complaint to a data protection
            authority about our collection and use of your personal information.
          </p>

          <p>
            To exercise any of these rights, please contact us using the
            information provided in the "Contact Us" section below.
          </p>

          <h2
            class='mt-4 text-xl lg:text-2xl tracking-tight font-extrabold text-gray-900'
          >
            7. Data Retention
          </h2>

          <p>
            We will retain your personal information only for as long as
            necessary to fulfill the purposes for which it was collected,
            including for the purposes of satisfying any legal, accounting, or
            reporting requirements.
          </p>

          <p>
            To determine the appropriate retention period for personal
            information, we consider:
          </p>

          <ul>
            <li>
              The amount, nature, and sensitivity of the personal information
            </li>
            <li>
              The potential risk of harm from unauthorized use or disclosure of
              your personal information
            </li>
            <li>The purposes for which we process your personal information</li>
            <li>Whether we can achieve those purposes through other means</li>
            <li>The applicable legal requirements</li>
          </ul>

          <h2
            class='mt-4 text-xl lg:text-2xl tracking-tight font-extrabold text-gray-900'
          >
            8. Data Security
          </h2>

          <p>
            We have implemented appropriate technical and organizational
            security measures designed to protect the security of any personal
            information we process. However, please note that no electronic
            transmission over the Internet or information storage technology can
            be guaranteed to be 100% secure.
          </p>

          <p>Our security measures include:</p>

          <ul>
            <li>Encryption of personal information in transit and at rest</li>
            <li>Regular security assessments and penetration testing</li>
            <li>Access controls and authentication mechanisms</li>
            <li>Regular backups and disaster recovery planning</li>
            <li>Employee training on data protection and security practices</li>
          </ul>

          <h2
            class='mt-4 text-xl lg:text-2xl tracking-tight font-extrabold text-gray-900'
          >
            9. Third-Party Websites
          </h2>

          <p>
            Our Services may contain links to other websites that are not
            operated by us. If you click on a third-party link, you will be
            directed to that third party's site. We strongly advise you to
            review the Privacy Policy of every site you visit.
          </p>

          <p>
            We have no control over and assume no responsibility for the
            content, privacy policies, or practices of any third-party sites or
            services.
          </p>

          <h2
            class='mt-4 text-xl lg:text-2xl tracking-tight font-extrabold text-gray-900'
          >
            10. Children's Privacy
          </h2>

          <p>
            Our Services are not intended for use by children under the age of
            13. We do not knowingly collect personal information from children
            under 13. If you are a parent or guardian and you are aware that
            your child has provided us with personal information, please contact
            us. If we become aware that we have collected personal information
            from children without verification of parental consent, we take
            steps to remove that information from our servers.
          </p>

          <h2
            class='mt-4 text-xl lg:text-2xl tracking-tight font-extrabold text-gray-900'
          >
            11. Changes to This Privacy Policy
          </h2>

          <p>
            We may update our Privacy Policy from time to time. We will notify
            you of any changes by posting the new Privacy Policy on this page
            and updating the "Last Updated" date at the top of this Privacy
            Policy.
          </p>

          <p>
            You are advised to review this Privacy Policy periodically for any
            changes. Changes to this Privacy Policy are effective when they are
            posted on this page.
          </p>

          <h2
            class='mt-4 text-xl lg:text-2xl tracking-tight font-extrabold text-gray-900'
          >
            12. International Data Transfers
          </h2>

          <p>
            Your information, including personal information, may be transferred
            to — and maintained on — computers located outside of your state,
            province, country, or other governmental jurisdiction where the data
            protection laws may differ from those of your jurisdiction.
          </p>

          <p>
            If you are located outside the United States and choose to provide
            information to us, please note that we transfer the data, including
            personal information, to the United States and process it there.
          </p>

          <p>
            Your consent to this Privacy Policy followed by your submission of
            such information represents your agreement to that transfer.
          </p>

          <h2
            class='mt-4 text-xl lg:text-2xl tracking-tight font-extrabold text-gray-900'
          >
            13. Do Not Track Signals
          </h2>

          <p>
            We do not support Do Not Track ("DNT"). Do Not Track is a preference
            you can set in your web browser to inform websites that you do not
            want to be tracked. You can enable or disable Do Not Track by
            visiting the Preferences or Settings page of your web browser.
          </p>

          <h2
            class='mt-4 text-xl lg:text-2xl tracking-tight font-extrabold text-gray-900'
          >
            14. California Privacy Rights
          </h2>

          <p>
            If you are a California resident, you have certain rights under the
            California Consumer Privacy Act (CCPA) regarding your personal
            information. These rights include:
          </p>

          <ul>
            <li>
              The right to know what personal information we collect, use,
              disclose, and sell
            </li>
            <li>The right to request deletion of your personal information</li>
            <li>
              The right to opt-out of the sale of your personal information
            </li>
            <li>
              The right to non-discrimination for exercising your CCPA rights
            </li>
          </ul>

          <p>
            To exercise your rights under the CCPA, please contact us using the
            information provided in the "Contact Us" section below.
          </p>

          <h2
            class='mt-4 text-xl lg:text-2xl tracking-tight font-extrabold text-gray-900'
          >
            15. EU-US Privacy Shield
          </h2>

          <p>
            CollabWrite.com complies with the EU-U.S. Privacy Shield Framework
            as set forth by the U.S. Department of Commerce regarding the
            collection, use, and retention of personal information transferred
            from the European Union to the United States. We have certified to
            the Department of Commerce that we adhere to the Privacy Shield
            Principles.
          </p>

          <p>
            If there is any conflict between the terms in this Privacy Policy
            and the Privacy Shield Principles, the Privacy Shield Principles
            shall govern. To learn more about the Privacy Shield program, and to
            view our certification, please visit https://www.privacyshield.gov/.
          </p>

          <h2
            class='mt-4 text-xl lg:text-2xl tracking-tight font-extrabold text-gray-900'
          >
            16. GDPR Compliance
          </h2>

          <p>
            For users in the European Economic Area (EEA), we comply with the EU
            General Data Protection Regulation (GDPR). This means that we:
          </p>

          <ul>
            <li>
              Process your data lawfully, fairly, and in a transparent manner
            </li>
            <li>
              Collect and process data only for specified, explicit, and
              legitimate purposes
            </li>
            <li>
              Ensure that the data we process is adequate, relevant, and limited
              to what is necessary
            </li>
            <li>
              Keep yourpersonal information accurate and, where necessary, kept
              up to date
            </li>
            <li>
              Retain your personal information only for as long as necessary for
              the purposes for which it was collected
            </li>
            <li>
              Process your personal information in a manner that ensures
              appropriate security
            </li>
          </ul>

          <p>Under the GDPR, you have the following rights:</p>

          <ul>
            <li>
              The right to access – You have the right to request copies of your
              personal data.
            </li>
            <li>
              The right to rectification – You have the right to request that we
              correct any information you believe is inaccurate.
            </li>
            <li>
              The right to erasure – You have the right to request that we erase
              your personal data, under certain conditions.
            </li>
            <li>
              The right to restrict processing – You have the right to request
              that we restrict the processing of your personal data, under
              certain conditions.
            </li>
            <li>
              The right to data portability – You have the right to request that
              we transfer the data that we have collected to another
              organization, or directly to you, under certain conditions.
            </li>
            <li>
              The right to object – You have the right to object to our
              processing of your personal data, under certain conditions.
            </li>
          </ul>

          <p>
            To exercise any of these rights, please contact us using the
            information provided in the "Contact Us" section below.
          </p>

          <h2
            class='mt-4 text-xl lg:text-2xl tracking-tight font-extrabold text-gray-900'
          >
            17. Contact Us
          </h2>

          <p>
            If you have any questions about this Privacy Policy, please contact
            us:
          </p>

          <ul>
            <li>
              Email: <a href='mailto:umesh@collabwrite.com'
                >umesh@collabwrite.com</a
              >
            </li>
            <li>
              Website: <a href='https://www.collabwrite.com'
                >www.collabwrite.com</a
              >
            </li>
            <li>
              Mailing Address: CollabWrite, 2701 Homestead Rd, Chapel Hill, NC -
              27516
            </li>
          </ul>

          <h2
            class='mt-4 text-xl lg:text-2xl tracking-tight font-extrabold text-gray-900'
          >
            18. Conclusion
          </h2>

          <p>
            We appreciate your trust in CollabWrite.com and are committed to
            safeguarding your personal information. This Privacy Policy is
            designed to inform you about our practices regarding the collection,
            use, and sharing of your information. We encourage you to review
            this policy periodically to stay informed about how we are
            protecting your data.
          </p>

          <p>Thank you for using CollabWrite.com!</p>
        </div>
      </div>
    </Container>
  </main></Layout
>
