---
import Layout from '../layouts/Layout.astro'
import Case from '../components/Case.astro'
import ProductHero from '../components/ProductHero.astro'
import ProductServices from '../components/ProductServices.astro'
---

<Layout title='Collabwrite'>
  <main class='space-y-20'>
    <ProductHero />
    <ProductServices />
    <Case />
    <!-- <Team />
    <Testimonial />
    <Contact /> -->
  </main>
</Layout>
