---
import Container from '../components/Container.astro'
import Layout from '../layouts/Layout.astro'
import Topic from '../components/Topic.astro'
---

<Layout
  title='Collabwrite - Resources'
  description=`Empower your business with cutting-edge insights and tools from our
            expert team. Access our comprehensive collection of articles,
            whitepapers, and case studies covering the latest trends and
            applications in AI and technology.`
>
  <main class='space-y-20'>
    <Container>
      <div class='py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6'>
        <div class='mx-auto text-center lg:mb-16 mb-8'>
          <h2
            class='mb-4 text-3xl lg:text-4xl tracking-tight font-extrabold text-gray-900'
          >
            AI & Technology Resources
          </h2>

          <p class='font-light text-gray-500 sm:text-xl'>
            Empower your business with cutting-edge insights and tools from our
            expert team. Access our comprehensive collection of articles,
            whitepapers, and case studies covering the latest trends and
            applications in AI and technology.
          </p>
        </div>
        <div class='mt-20'>
          <div class='relative flex flex-col items-center md:flex-row'>
            <Topic
              title='Knowledge Hub'
              description='Access our comprehensive collection of articles, whitepapers, and case studies covering the latest trends and applications in AI and technology'
            />
          </div>

          <div class='grid gap-8 lg:grid-cols-2'>
            <div
              class='p-6 bg-white rounded-3xl border border-gray-200 shadow-card'
            >
              AI Strategy Guides
            </div>
            <div
              class='p-6 bg-white rounded-3xl border border-gray-200 shadow-card'
            >
              Machine Learning Best Practices
            </div>
            <div
              class='p-6 bg-white rounded-3xl border border-gray-200 shadow-card'
            >
              Data Analytics Insights
            </div>
            <div
              class='p-6 bg-white rounded-3xl border border-gray-200 shadow-card'
            >
              Digital Transformation Roadmaps
            </div>
            <div
              class='p-6 bg-white rounded-3xl border border-gray-200 shadow-card'
            >
              Emerging Tech Trends Reports
            </div>
          </div>
        </div>
        <div class='mt-20'>
          <div class='relative flex flex-col items-center md:flex-row'>
            <Topic
              title='Webinars and Workshops'
              description='Join our interactive online sessions led by industry experts'
            />
          </div>

          <div class='grid gap-8 lg:grid-cols-2'>
            <div
              class='p-6 bg-white rounded-3xl border border-gray-200 shadow-card'
            >
              Monthly AI Innovation Webinars
            </div>
            <div
              class='p-6 bg-white rounded-3xl border border-gray-200 shadow-card'
            >
              Hands-on Machine Learning Workshops
            </div>
            <div
              class='p-6 bg-white rounded-3xl border border-gray-200 shadow-card'
            >
              Data Visualization Masterclasses
            </div>
            <div
              class='p-6 bg-white rounded-3xl border border-gray-200 shadow-card'
            >
              Technology Leadership Seminars
            </div>
          </div>
        </div>
        <div class='mt-20'>
          <div class='relative flex flex-col items-center md:flex-row'>
            <Topic
              title='Tools and Calculators'
              description="Leverage our suite of free tools to assess your organization\'s AI readiness and potential"
            />
          </div>

          <div class='grid gap-8 lg:grid-cols-2'>
            <div
              class='flex flex-col p-6 bg-white rounded-3xl border border-gray-200 shadow-card justify-between space-y-2'
            >
              <h3 class='text-xl mb-2'>AI Maturity Assessment</h3>
              <p class='text-zinc-700'>
                By completing this assessment, you'll gain a clear understanding
                of your business's AI readiness, receive tailored
                recommendations for sustainable growth, and position yourself at
                the forefront of AI-driven innovation.
              </p>
              <a
                href='../resources/ai-readiness-assessment/'
                class='hover:underline text-lime bg-black rounded-lg p-2'
                >Take AI Readiness Assessment</a
              >
            </div>
            <div
              class='p-6 bg-white rounded-3xl border border-gray-200 shadow-card'
            >
              ROI Calculator for AI Implementation
            </div>
            <div
              class='p-6 bg-white rounded-3xl border border-gray-200 shadow-card'
            >
              Data Quality Checker
            </div>
            <div
              class='p-6 bg-white rounded-3xl border border-gray-200 shadow-card'
            >
              Technology Stack Optimizer
            </div>
          </div>
        </div>
      </div>
    </Container>
  </main>
</Layout>
