---
import Container from './Container.astro'
---

<footer
  class='bg-black text-white bg-fixed bg-bottom text-black mt-20 text-cent'
>
  <Container>
    <div class='py-6'>
      <div class='flex flex-col items-center justify-between md:flex-row'>
        <div>
          <div class='flex items-center space-x-3 rtl:space-x-reverse mb-2'>
            <img
              class='w-64 invert'
              src='/Logo.svg'
              alt='Collabwrite Logo'
              class='bg-white'
            />
          </div>
          <a
            class='p-1 bg-zinc-900 hover:bg-lime text-white hover:text-black border rounded-md justify-items-center md:justify-items-start gap-2.5 inline-flex'
            rel='noopener noreferrer'
            href='https://www.linkedin.com/company/collabwrite'
            target='_blank'
          >
            <img
              src='/logos/linkedin.svg'
              class='bg-white rounded-md'
              alt='Collabwrite - Linkedin Profile'
            /></a
          >
        </div>
        <div class='flex mt-4 md:m-0'>
          <div class='-mx-4 text-center'>
            @ <span id='currentYear'></span> Collabwrite<br />All rights
            reserved.
          </div>
        </div>
        <div class='flex mt-4 md:m-0'>
          <ul>
            <li>EMAIL <br />umesh@collabwrite.com<br /><br /></li>
            <li>
              USA Office<br /> 2701 Homestead Road, Chapel Hill, North Carolina -
              27516<br /><br />
            </li>
            <li>INDIA Office<br /> 127A/X, Kolazhy P O, Thrissur - 680010</li>
          </ul>
        </div>
      </div>
    </div>
  </Container>
</footer>

<script is:inline>
  const year = new Date().getFullYear()
  document.getElementById('currentYear').innerHTML = `${year}`
</script>
