---
import {
  Astronav,
  MenuItems,
  MenuIcon,
  Dropdown,
  DropdownItems
} from 'astro-navbar'

import Container from './Container.astro'
---

<header class='mt-20'>
  <nav class='w-full top-0 left-0 z-50 fixed bg-white'>
    <Container>
      <div class='flex flex-wrap items-center justify-between mx-auto py-3'>
        <Astronav closeOnClick>
          <div class='flex w-full lg:w-auto justify-between'>
            <a href='/' class='flex items-center space-x-3 rtl:space-x-reverse'>
              <img src='/Logo.svg' class='h-10' alt='Logo' />
            </a>
            <div class='block lg:hidden'>
              <MenuIcon class='w-8 h-8 text-gray-800' />
            </div>
          </div>
          <MenuItems class='hidden lg:flex'>
            <ul class='flex flex-col lg:flex-row lg:gap-5'>
              <li>
                <Dropdown class='group'>
                  <button class='flex items-center gap-2'>
                    <span
                      class="relative text-xl w-fit block after:block after:content-[''] after:absolute after:h-[3px] after:bg-black after:w-full after:scale-x-0 after:hover:scale-x-100 after:transition after:duration-300 after:origin-right"
                      >Services</span
                    >
                    <svg
                      xmlns='http://www.w3.org/2000/svg'
                      fill='none'
                      viewBox='0 0 24 24'
                      stroke-width='3'
                      stroke='currentColor'
                      class='w-3 h-3 mt-0.5 group-open:rotate-180'
                    >
                      <path
                        stroke-linecap='round'
                        stroke-linejoin='round'
                        d='M19.5 8.25l-7.5 7.5-7.5-7.5'></path>
                    </svg>
                  </button>
                  <DropdownItems class='relative'>
                    <div
                      class='lg:absolute bg-white top-2 w-80 border shadow rounded p-4'
                    >
                      <ul>
                        <li class='p-2 hover:bg-lime'>
                          <a href='/machine-learning-ai-solutions'
                            >Machine Learning / AI Solutions</a
                          >
                        </li>
                        <li class='p-2 hover:bg-lime'>
                          <a href='/product-development'
                            >Product PoC / MVP Development</a
                          >
                        </li>
                        <li class='p-2 hover:bg-lime'>
                          <a href='/custom-software-development'
                            >Custom Software Development</a
                          >
                        </li>
                        <li class='p-2 hover:bg-lime'>
                          <a href='/digital-marketing-services'
                            >Digital Marketing Services</a
                          >
                        </li>
                        <li class='p-2 hover:bg-lime'>
                          <a href='/cybersecurity'>Cybersecutiry</a>
                        </li>
                        <li class='p-2 hover:bg-lime'>
                          <a href='/hybrid-teams'>Hybrid Teams</a>
                        </li>
                      </ul>
                    </div>
                  </DropdownItems>
                </Dropdown>
              </li>
              <li>
                <a
                  href='/about'
                  class="relative text-xl w-fit block after:block after:content-[''] after:absolute after:h-[3px] after:bg-black after:w-full after:scale-x-0 after:hover:scale-x-100 after:transition after:duration-300 after:origin-right"
                  >About</a
                >
              </li>
              <li>
                <a
                  href='/resources'
                  class="relative text-xl w-fit block after:block after:content-[''] after:absolute after:h-[3px] after:bg-black after:w-full after:scale-x-0 after:hover:scale-x-100 after:transition after:duration-300 after:origin-right"
                  >Resources</a
                >
              </li>
              <li>
                <a
                  href='/blog'
                  class="relative text-xl w-fit block after:block after:content-[''] after:absolute after:h-[3px] after:bg-black after:w-full after:scale-x-0 after:hover:scale-x-100 after:transition after:duration-300 after:origin-right"
                  >Blog</a
                >
              </li>
              <li>
                <a
                  class='md:hidden px-9 py-5 rounded-2xl border border-zinc-900 bg-white hover:bg-black text-black hover:text-white inline-flex'
                  href='https://github.com/manulthanura/Positivus'
                  target='_blank'
                >
                  <h2 class='text-center text-xl font-normal leading-7'>
                    Schedule a call
                  </h2>
                </a>
              </li>
            </ul>
          </MenuItems>
          <a
            class='hidden lg:flex px-9 py-5 rounded-2xl border border-zinc-900 bg-white hover:bg-black text-black hover:text-white inline-flex'
            href='https://github.com/manulthanura/Positivus'
            target='_blank'
          >
            <h2 class='text-center text-xl font-normal leading-7'>
              Schedule a call
            </h2>
          </a>
        </Astronav>
      </div>
    </Container>
  </nav>
</header>
