---
const { title, description } = Astro.props
---

<div class='grid place-items-center gap-5 mb-10 flex'>
  <span class='text-4xl p-4 font-medium bg-lime text-black rounded-md'>
    {title}
  </span>
  <p class='text-xl font-normal text-center lg:w-2/3'>
    {description}
  </p>
</div>
