---
import { getCollection } from 'astro:content'
import BlogPost from '../../layouts/BlogPost.astro'
import Prose from '../../components/Prose.astro'
import Tags from '../../components/Tags.astro'
import TableOfContents from '../../components/TableOfContents.astro'

export async function getStaticPaths() {
  const blogEntries = await getCollection('blogs')
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry }
  }))
}

const { entry } = Astro.props
const { Content, headings } = await entry.render()
---

<BlogPost frontmatter={entry.data}>
  <Tags tags={entry.data.tags} />

  <TableOfContents headings={headings} />
  <div class='max-w-5xl'>
    <Prose>
      <Content />
    </Prose>
  </div>
</BlogPost>
